@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  /* Provide empty defaults if needed */
}

:host {
  background-color: transparent !important;
  color-scheme: light dark;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



.diskus-prose p {
  margin-bottom: 0.5rem;
}
.diskus-prose p:last-child {
  margin-bottom: 0;
}
