@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  /* Provide empty defaults if needed */
}

/* Reset some default styles just in case it is embedded in a highly styled website */
#diskus-thread {
  all: initial;
  display: block;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#diskus-thread * {
  box-sizing: border-box;
}

.diskus-prose p {
  margin-bottom: 0.5rem;
}
.diskus-prose p:last-child {
  margin-bottom: 0;
}
